/* TODO Style clock and site properly */
/* TODO Make clock a bit smaller and use images instead of letters for the numbers (remove trick with rem/em) */

@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  margin: 0;
}

html {
  font-size: calc(.25vw + .75vh + 6px);
}

h1 {
  font-family: 'Trirong', serif;
  font-size: 3rem;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}

.not-visible-start {
  opacity: 0;
}

.trans-ease-in-out {
  transition: ease-in 0.5s;
}

#main {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
}

#title {
  margin: 0;
}

#subtitle {
  margin-top: 0;
}

#clock {
  font-size: .5rem;
  display: inline-block;
  height: 50em;
  width: 50em;
  border-radius: 50%;
  border: 3em solid #000000;
}

#clock div {
  position: absolute;
  font-family: 'Rubik', sans-serif;
}

.number {
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  transform-origin: 2em 2em;
}

#n12 {
  transform: translateX(11.5rem) translateY(.5rem);
}

#n3 {
  transform: translateX(22.5rem) translateY(11.5rem);
}

#n5 {
  transform: translateX(16.75rem) translateY(20.75rem);
}

#n6 {
  transform: translateX(11.5rem) translateY(22.5rem);
}

#n9 {
  transform: translateX(0.5rem) translateY(11.5rem);
}

#clock-center {
  background-color: #000000;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  transform-origin: 2em 2em;
  transform: translateX(23em) translateY(23em);
}

.dial {
  height: 1em;
  transform-origin: 3em 0.5em;
  border-radius: 25%;
}

#second-dial {
  background-color: #FF0000;
  width: 25em;
}

#minute-dial {
  background-color: #000000;
  width: 22.5em;
}

#hour-dial {
  background-color: #000000;
  width: 16em;
}
